<section class="about">


<header class="page-header">
<h1>About Us</h1>
</header>

    <p>I'm baby hot chicken aesthetic glossier vexillologist pop-up wolf YOLO pabst whatever plaid green juice.</p>
    <p>Peace</p>
</section>